* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
}

body {
    height: 100vh;
    background-image: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}

/***Top of card***/
.desktop-logo {
    display: none;
}

.mobile-logo {
    margin: 30px 30px;
}

.mobile-logo img {
    width: 30%;
}

.desktop-photo {
    display: none;
}

/***Card Text***/
.card-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 80%;
    margin: auto;
}

.card-text h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 3em;
    font-weight: 400;
    margin-top: 50px;
    letter-spacing: 8px;
}

.card-text h1 span {
    font-weight: 300;
    color: hsl(0, 36%, 70%);
}

.card-text p {
    text-align: center;
    color: hsl(0, 36%, 70%);
    font-size: 0.875em;
    line-height: 1.5em; 
    margin-top: 20px;
    margin-bottom: 30px;
}

/***Input Styles***/

.card-input {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    margin-right: 20px;
    border: hsl(0, 36%, 70%) solid 1px;
    border-radius: 30px;
}

input[type=email] {
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 50px;
    border-radius: 30px;
    border: none;
    flex-grow: 2;
    height: 50px;
    color: hsl(0, 36%, 70%);
    padding-left: 20px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    height: 50px;
    width: 70px;
    background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

/***Footer***/

.footer {
    display: flex;
    place-content: center;
    padding-top: 20px;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media only screen and (min-width: 1200px) {
.card {
    background-image: url(images/bg-pattern-desktop.svg);
}

.card-content {
    display: flex;
    flex-direction: row-reverse;
} 
 
.mobile-photo {
     display: none;
 }

.desktop-photo {
     display: flex;  
     width: 40%; 
}

.card-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.text-content {
    width: 60%;
}

.desktop-logo {
    display: flex;
    margin-bottom: 160px;
}

.card-text h1 {
    font-size: 4em;
    text-align: left;
    letter-spacing: 13px;
    margin-bottom: 40px;
}

.card-text p {
    font-size: 1em;
    text-align: left;
    line-height: 1.75em;
    margin-bottom: 40px;
}

.button {
    width: 90px;
}

}